[submodule "Mixer/Mixer/vendor/spdlog"]
	path = Mixer/Mixer/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mixer/Mixer/vendor/GLFW"]
	path = Mixer/Mixer/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Mixer/Mixer/vendor/imgui"]
	path = Mixer/Mixer/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Mixer/Mixer/vendor/glm"]
	path = Mixer/Mixer/vendor/glm
	url = https://github.com/g-truc/glm
